@import "../variables";

.hero {
	background-color: $background-color-white;
	border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	position: fixed;
	width: 100%;
	z-index: 100;
	.hero--content {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
		width: 95%;
		margin: auto;
		cursor: pointer;
	}
	.hero--content__logo {
		color: $primary-color;
		display: flex;
		align-items: center;
		gap: 1rem;
		img {
			width: 3rem;
		}
		h1 {
			font-size: 2rem;
			margin: 0;
		}
	}
	.hero--content__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.6rem 1.4rem;
		a {
			color: #000000;
			font-weight: 500;
			font-size: 1.4rem;
		}
	}
}
@include respond-to(medium) {
	.hero--content {
		width: 90%;
		padding: 2rem 0;
		.hero--content__logo {
			img {
				width: 5rem;
			}
			h1 {
				font-size: 3rem;
				margin: 0;
			}
		}
		.hero--content__button {
			padding: 1rem 2rem;
			a {
				font-size: 1.8rem;
			}
		}
	}
}
