@import "../variables";

.main-content {
	padding-top: 12rem;
	width: 100%;
	min-height: 85vh;
	background-image: url(/src/assets/BA3.png);
	background-repeat: no-repeat;
	background-size: cover;
	// &__animation {
	// 	margin-top: 0;
	// 	width: 90%;
	// 	margin: auto;
	// }
	&__text {
		text-align: center;
		&__titulo {
			margin-top: 0;
			font-weight: 400;
			color: $primary-color;
			span {
				font-weight: 800;
			}
		}
		// &__parrafo {
		// 	display: none;
		// }
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
		padding: 1rem;

		&__input {
			width: 100%;
			padding: 1rem;
			border: 1px solid $primary-color;
			border-radius: 1rem;
			margin-bottom: 1rem;
			text-align: center;
			font-size: 1.4rem;
			&:focus {
				outline: none;
			}
		}
		.button {
			color: #903232;
			padding: 1rem 2rem;
			font-weight: 800;
			font-size: 1.7rem;
			width: 100%;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
	@include respond-to(medium) {
		justify-content: space-between;
		flex-direction: row;
		min-height: 100vh;
		&__text {
			order: 2;
			&__titulo {
				font-size: 6rem;
			}
			&__parrafo {
				display: block;
				font-size: 1.5rem;
			}
			@include respond-to(large) {
				&__titulo {
					font-size: 7rem;
				}
				&__parrafo {
					font-size: 2rem;
				}
			}
		}
		&__animation {
			width: 50%;
			margin: 0;
		}
	}
}

.main-discover {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $button-color;

	p {
		order: 2;
		margin: 0;
		font-weight: bold;
	}
	svg {
		width: 8rem;
		path {
			width: 100%;
		}
	}
}

.scroll-indicator {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	animation: bounce 2s infinite;
	width: 48px; /* Aumenta el tamaño de la flecha */
	height: 48px; /* Aumenta el tamaño de la flecha */
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(-50%) translateY(0);
	}
	40% {
		transform: translateX(-50%) translateY(-10px);
	}
	60% {
		transform: translateX(-50%) translateY(-5px);
	}
}

// .main-cta {
// 	width: 55%;
// 	margin-top: 10px;
// 	margin: auto;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 1.2rem 2.5rem;
// 	background-color: $button-color;
// 	border-radius: 2rem;
// 	text-decoration: none;
// 	font-weight: 600;
// 	&:hover {
// 		a {
// 			font-weight: 800;
// 			transform: scale(1.1);
// 		}
// 	}
// 	@include respond-to(medium) {
// 		width: 30%;
// 	}
// 	a {
// 		color: #fff;
// 	}
// }
