@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&display=swap");

$font-family: "Lexend", serif;
$font-family-alt: "DM Sans", sans-serif;

$primary-color: #05294b;
$secondary-color: #161616;
$background-color: #f4f7fd;
$background-color-white: #ffffff;
$background-color-section2: #1c4974;

$text-color: #333333;
$text-color-alt: #ffffff;
$icon-color: #b3b3b3;
$button-color: #a29bfe;
$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 1024px,
);
