---
---

<section class="hero">
    <div class="hero--content">
         <div class="hero--content__logo">
            <h1>MediBax</h1>
        </div>
        <div class="hero--content__button button">
            <a href="/">Empieza aqui!</a>
        </div>
    </div>
</section>