---
---

<main class="main-content container">
     <div class="main-content__text">
        <h1 class="main-content__text__titulo">Tu Salud<br><span>a</span> a <br><span class="italic">a a.</span></h1>
        <p class="main-content__text__parrafo">a<br> <span class="bold">a</span></p>
    </div>
    <!-- <div class="main-content__form">
        <form action="">
            <input class="main-content__form__input" type="text" placeholder="Ingresa tu correo electrónico">
            <button class="button">¡Quiero saber más!</button>
        </form>
    </div> -->
    <div class="scroll-indicator">
		<svg xmlns="http://www.w3.org/2000/svg" fill="#333" viewBox="0 0 24 24"><path d="M12 16l-6-6h12z"/></svg>
	</div>
</div>
</main>
<!-- <div class="main-cta">
    <a href="/">Empieza aqui!</a>
</div> -->
