---
---

<main class="main-content container">
     <div class="main-content__text">
        <h1 class="main-content__text__titulo">Convierte tu <br><span>aprendizaje</span> en <br><span class="italic">impacto tangible.</span></h1>
        <p class="main-content__text__parrafo">Transforma tus ideas en proyectos reales.<br> <span class="bold">Aprende, Crea e Impacta.</span></p>
    </div>
    <div class="main-content__form">
        <form action="">
            <input class="main-content__form__input" type="text" placeholder="Ingresa tu correo electrónico">
            <button class="button">¡Quiero saber más!</button>
        </form>
    </div>
   <!-- <div class="main-content__animation">
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/db3d7f38-cbd7-4099-b723-a41d3100a9e2/qzlAdBb3Rb.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div> -->
    <div class="scroll-indicator">
		<svg xmlns="http://www.w3.org/2000/svg" fill="#333" viewBox="0 0 24 24"><path d="M12 16l-6-6h12z"/></svg>
	</div>
</div>
</main>
<!-- <div class="main-cta">
    <a href="/">Empieza aqui!</a>
</div> -->
