

<section class="section2">
    <div class="section2-content container">
        <h2 class="section2-content__title"> a <span>a</span> ea<span class="italic">a</span></h2>
        <div class="section2-content-container">
            <div class="section2-content-container__text">
                    <p>a
        </p>
        <h3>a</h3>
    </div>
        </div>


    </div>
</section>



